#
.DS_Store
logs
build/
dist/
*.pem
.DS_Store
*~
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.zip
*.tgz
*.tar.gz
*.orig

# These files contain credentials, do not add them to
# the repo.
.env

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OpenShift
*-secret.yaml
*-secret.json
