{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "never",
  "endOfLine": "lf",
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore"
}
