@import 'styles/fonts.scss';

body {
  overflow-y: scroll;
}

fieldset {
  border: none;
  padding: 0;
  overflow: hidden;
  min-width: 0;
}

legend.MuiFormLabel-root {
  margin-bottom: 0.75rem;
  float: left;
  color: #000000 !important;
  font-weight: 700;
  letter-spacing: -0.01rem;
}

.MuiDialogActions-root {
  button {
    min-width: 6rem;
  }
}

.MuiButton-root.editButtonSmall {
  font-weight: 700 !important;

  .MuiButton-startIcon {
    margin-top: -1px;
  }
}

dd {
  margin-top: 0.25rem !important;
}

.ddInline {
  dd {
    position: relative;
    display: inline-block;
    &:after {
      content: ', ';
      display: inline-block;
      margin-right: 0.25rem;
    }
  }

  dd:last-child {
    &:after {
      display: none;
    }
  }
}
