// Government Primary Colors
$BCgovBlue: #003366;
$BCgovGold: #fade81;

$appHeaderColor: #ffffff;
$appFootercolor: #ffffff;

// Main Navigation
$mainNavBg: #38598a;
$mainNavFocusBg: rgba(123, 162, 204, 0.5);
