@import 'colours.scss';

.app-header {
  height: 70px;
  border-bottom: 2px solid $BCgovGold;
  color: $appHeaderColor;
  background-color: $BCgovBlue;
}

.brand {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  color: inherit; 
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 700;

  picture {
    margin-right: 1.25rem;
  }

  img {
    vertical-align: middle;
  }
}

.app-header .brand:hover {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .brand picture {
    margin-right: 1rem;
  }
}

button.logout {
  color: $appHeaderColor;
  font-size: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav,
.profile-nav {
  color: $appHeaderColor;
}

.profile-nav {
  margin-left: auto;

  .username {
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
    padding-right: 1rem;
    border-right: 1px solid $appHeaderColor;

    span {
      margin-left: 0.5rem;
    }
  }
}

// Main Navigation
$navItemPadding: 0.8375rem;

.main-nav {
  align-items: stretch;
  color: $appHeaderColor;
  background-color: $mainNavBg;

  a {
    display: block;
    padding: $navItemPadding;
    color: inherit;
    text-decoration: none;

    &:hover {
      background-color: $mainNavFocusBg;
      text-decoration: underline;
    }

    &:first-child {
      margin-left: calc(#{$navItemPadding} * -1);
    }
  }
}
