{
  "sourceMaps": true,
  "jsc": {
    "target": "es2023",
    "parser": {
      "syntax": "typescript",
      "decorators": false
    }
  },
  "module": {
    "type": "es6",
    "resolveFully": true,
    "outFileExtension": "js"
  }
}
